.card {
	border-radius: 12px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
	width: 90%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	border: 3px solid turquoise;
	padding: 10px;
	color: white;
}

.card button {
	font: inherit;
	cursor: pointer;
	padding: 1rem 2rem;
	border: 1px solid turquoise;
	background-color: turquoise;
	color: black;
	border-radius: 12px;
	margin-top: 1rem;
}
